// Base Color 
$color: #fff;
$color-hover: $color;
$bg-color: #E22A1B;
$bg-color-hover: lighten($bg-color, 10%);

// Media Queries
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
//  @media only screen and (min-device-width: #{$tablet-width}) {
  @media only screen and (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
//  @media only screen and (min-device-width: #{$desktop-width}) {
  @media only screen and (min-width: #{$desktop-width}) {
    @content;
  }
}

div.debug {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: 9999;
  color: #fff;
  font-size: 3em;
}